<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zwwl.kotlintest">

    <uses-sdk tools:overrideLibrary="androidx.leanback" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 访问手机当前状态, 需要device id用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 支持A-GPS辅助定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> -->
    <!-- 用于 log 日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 触摸屏非必要 -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowAudioPlaybackCapture="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".fullscreen.FullScreenActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".func.FuncActivity"
            android:exported="false" />
        <activity
            android:name=".paging3.ui.Paging3Activity"
            android:exported="false" />
        <activity
            android:name=".flow.FlowTestActivity"
            android:exported="false" />
        <activity
            android:name=".adaptation.AdaptationActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".anim.MainAnimActivity"
            android:exported="true" />
        <activity
            android:name=".anim.ShareSecondActivity"
            android:exported="true" />
        <activity
            android:name=".anim.ShareFirstActivity"
            android:exported="true"
            android:label="@string/title_activity_anim_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anim.AnimActivity"
            android:exported="true" />
        <activity
            android:name=".list.List2Activity"
            android:exported="true" />
        <activity
            android:name=".list.List1Activity"
            android:exported="true" />
        <activity
            android:name=".list.ListActivity"
            android:exported="true" />
        <activity
            android:name=".media.camera.CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".media.exo.ExoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".notification.NotificationActivity" />
        <activity
            android:name=".media.videoview.VideoViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".media.mediaplayer.MediaPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".Page2Activity" />
        <activity android:name=".Page1Activity" />
        <activity android:name=".proxy.ProxyActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>